<div class="container h-100 mt-5">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px">
        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Изменение пароля</h2>

          <form class="submit" (ngSubmit)="onFormSubmit()">
            <div data-mdb-input-init class="form-outline mb-4">
              <label type="email" class="form-control" id="email" name="email">
                {{ this.model.email }}
              </label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input
                type="new-password"
                class="form-control"
                id="new-password"
                name="newpassword"
                placeholder="Введите пароль"
                [(ngModel)]="model.password"
              />
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <input
                type="password"
                class="form-control"
                id="confirm-new-password"
                name="confirm-new-password"
                placeholder="Повторите пароль"
                [(ngModel)]="model.confirmPassword"
              />
              <div
                class="text-start text-danger"
                *ngIf="form.errors?.['mismatch']"
              >
                Пароли должны совпадать
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">
                Изменить пароль
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
