<h2 mat-dialog-title>Добавление Notebook</h2>
<form class="form" [formGroup]="form">
  <mat-dialog-content>
    <div class="form-group mt-3 mb-3">
      <label for="firstName">Имя</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Введите имя"
        formControlName="firstName"
      />

      <div
        class="text-start text-danger"
        *ngIf="
          form.controls['firstName'].invalid &&
          (form.controls['firstName'].touched ||
            form.controls['firstName'].dirty)
        "
      >
        <span *ngIf="form.controls['firstName'].errors?.['required']"
          >Поле обязательно для заполнения</span
        >
        <span *ngIf="form.controls['firstName'].errors?.['minlength']"
          >Минимальная длина 4 символа</span
        >
        <span *ngIf="form.controls['firstName'].errors?.['maxlength']"
          >Максимальная длина 25 символов
        </span>
      </div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="middleName">Отчество</label>
      <input
        type="text"
        class="form-control"
        id="middleName"
        name="middleName"
        placeholder="Введите отчество"
        formControlName="middleName"
      />
      <div
        class="text-start text-danger"
        *ngIf="
          form.controls['middleName'].invalid &&
          (form.controls['middleName'].touched ||
            form.controls['middleName'].dirty)
        "
      >
        <span *ngIf="form.controls['middleName'].errors?.['required']"
          >Поле обязательно для заполнения</span
        >
        <span *ngIf="form.controls['middleName'].errors?.['minlength']"
          >Минимальная длина 4 символа</span
        >
        <span *ngIf="form.controls['middleName'].errors?.['maxlength']"
          >Максимальная длина 25 символов
        </span>
      </div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="lastName">Фамилия</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="Введите Фамилию"
        formControlName="lastName"
      />
      <div
        class="text-start text-danger"
        *ngIf="
          form.controls['lastName'].invalid &&
          (form.controls['lastName'].touched || form.controls['lastName'].dirty)
        "
      >
        <span *ngIf="form.controls['lastName'].errors?.['required']"
          >Поле обязательно для заполнения</span
        >
        <span *ngIf="form.controls['lastName'].errors?.['minlength']"
          >Минимальная длина 4 символа</span
        >
        <span *ngIf="form.controls['lastName'].errors?.['maxlength']"
          >Максимальная длина 25 символов
        </span>
      </div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="phoneNumber">Номер телефона</label>
      <input
        type="text"
        class="form-control"
        id="phoneNumber"
        name="phoneNumber"
        placeholder="Введите номер телефона"
        formControlName="phoneNumber"
      />
      <div
        class="text-start text-danger"
        *ngIf="
          form.controls['phoneNumber'].invalid &&
          (form.controls['phoneNumber'].touched ||
            form.controls['phoneNumber'].dirty)
        "
      >
        <span *ngIf="form.controls['phoneNumber'].errors?.['pattern']"
          >Введите номер телефона цифрами в формате 88005553535</span
        >
      </div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="country">Страна</label>
      <input
        type="text"
        class="form-control"
        id="country"
        name="country"
        placeholder="Введите страну"
        formControlName="country"
      />

      <div
        class="text-start text-danger"
        *ngIf="
          form.controls['country'].invalid &&
          (form.controls['country'].touched || form.controls['country'].dirty)
        "
      >
        <span *ngIf="form.controls['country'].errors?.['required']"
          >Поле обязательно для заполнения</span
        >
        <span *ngIf="form.controls['country'].errors?.['minlength']"
          >Минимальная длина 4 символа</span
        >
        <span *ngIf="form.controls['country'].errors?.['maxlength']"
          >Максимальная длина 25 символов
        </span>
      </div>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Введите день рождения</mat-label>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="form-group mt-3 mb-3">
      <label for="organization">Организация</label>
      <input
        type="text"
        class="form-control"
        id="organization"
        name="organization"
        formControlName="organization"
        placeholder="Введите организацию"
      />
      <div
        class="text-start text-danger"
        *ngIf="
          form.controls['organization'].invalid &&
          (form.controls['organization'].touched ||
            form.controls['organization'].dirty)
        "
      >
        <span *ngIf="form.controls['organization'].errors?.['minlength']"
          >Минимальная длина 4 символа</span
        >
        <span *ngIf="form.controls['middleName'].errors?.['maxlength']"
          >Максимальная длина 25 символов
        </span>
      </div>
    </div>
    <div class="form-group mt-3 mb-3">
      <label for="position">Позиция</label>
      <input
        type="text"
        class="form-control"
        id="position"
        name="position"
        placeholder="Введите позицию"
        formControlName="position"
      />
    </div>

    <div class="form-group mt-3 mb-3">
      <label for="other">Прочее</label>
      <textarea
        type="text"
        class="form-control"
        id="other"
        name="other"
        [(ngModel)]="model.other"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </div>
  </mat-dialog-content>
</form>
<mat-dialog-actions class="modal-actions">
  <button mat-dialog-close class="btn btn-danger">Отмена</button>
  <button mat-dialog-close class="btn btn-primary" (click)="onFormSubmit()">
    Добавить запись
  </button>
</mat-dialog-actions>
