<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Почта</mat-label>
      <input matInput placeholder="Почта" value="" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Имя</mat-label>
      <input matInput placeholder="Имя" value="" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Фамилия</mat-label>
      <input matInput placeholder="Фамилия" value="" />
    </mat-form-field>
    <div class="actions">
      <button mat-stroked-button>Сохранить</button>
      <button mat-stroked-button class="mat-danger">Отменить</button>
    </div>
  </form>
</div>
