<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="notebook/welcome">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div *ngIf="isAuth(); else showNotebookList"></div>
      <ng-template #showNotebookList>
        <div class="d-flex align-items-center">
          <a class="nav-link" [routerLink]="['notebook/notebook-list/']"
            >Notebook List</a
          >
        </div>
      </ng-template>
    </div>
    <div class="me-2">
      <ng-container *ngIf="isAuth(); else showLogout">
        <div class="d-flex align-items-center">
          <a class="nav-link" [routerLink]="['account/cabinet']">{{
            user?.email
          }}</a>
          <button class="btn btn-primary ms-3" (click)="onLogout()">
            Выйти
          </button>
        </div>
      </ng-container>
      <ng-template #showLogout>
        <a class="nav-link" [routerLink]="['account/login']">Войти</a>
      </ng-template>
    </div>
  </div>
</nav>
