<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="notebook/welcome">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="me-3 ms-3">
      <div *ngIf="isAdmin()">
        <div class="d-flex align-items-center">
          <a class="nav-link" [routerLink]="['admin']"> Admin </a>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div *ngIf="!isAuth(); else showNotebookList"></div>
      <ng-template #showNotebookList>
        <div class="d-flex align-items-center">
          <a class="nav-link" [routerLink]="['notebook/notebook-list/']"
            >Notebook List</a
          >
        </div>
      </ng-template>
    </div>
    <div class="me-2">
      <div *ngIf="isAuth(); else showLogout">
        <div class="d-flex align-items-center">
          <!-- <a class="nav-link" [routerLink]="['user/cabinet']">{{
            user?.email
          }}</a> -->
          <a
            *ngIf="email$ | async as email"
            class="nav-link"
            [routerLink]="['user/cabinet']"
            >{{ email }}</a
          >
          <button class="btn btn-primary ms-3" (click)="onLogout()">
            Выйти
          </button>
        </div>
      </div>
      <ng-template #showLogout>
        <a class="nav-link" [routerLink]="['user/login']">Войти</a>
      </ng-template>
    </div>
  </div>
</nav>
