.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Это сделает контент центрированным по вертикали */
  text-align: center;
}
