.current-user-container {
  max-width: 1200px;
  margin: 0 auto;
}

.user-info {
  text-align: left;
  margin-bottom: 10px;
}

.current-user-role {
  display: flex;
}

.current-user-actions {
  display: flex;
  justify-content: space-between;
}
